html, body {
	padding: 0;
	margin: 0;
}

body {
	cursor: default;
	font-family: Tahoma, Geneva, sans-serif;
	color: #D8D8D8;
	 background-color: #0C0A0A;
 background-image: url(/system/img/d3.png), url(bg.png);
 background-position: center -100px, top left;
 background-repeat: no-repeat, repeat;
 background-size: auto 500px, 50% auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #2E0000;
}

h1, h2, h3, h4, h5, a, .conqlabel {
	color: #faac53;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

.red {
	color: red
}

#maindiv {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#legenddiv {
	margin-top: 10px;
	margin-bottom: 25px;
}

#conqdiv {
	margin-bottom: 20px;
}

#countdowndiv {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #faac53;
	font-size: 1.2em;
	font-weight: bold;
}

.countdowndiv {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

p.countdown {
	font-family: "Lucida Console", Monaco, monospace;
	color: black;
	font-weight: normal;
	background-color: #DDDDDD;
	padding: 8px;
	border-radius: 8px;
	text-align: center;
	white-space: nowrap;
	border: 3px solid #744620;
	border-right: 3px solid #4E290B;
	border-bottom: 3px solid #4E290B;
}

.hidden {
	display: none;
}

.conqlabel {
	padding-right: 10px;
}

.conqtitle {
	font-size: 1.1em;
	font-weight: bold;
}

.conqdesc {
	font-size: 0.9em;
}

.sjtablelayout, .conqtablelayout {
	border-spacing: 3px;
	margin: 0 auto;
}

.sjtable.header {
	font-size: 1.2em;
	color: #faac53;
	cursor: pointer;
}

span.bigger {
	padding: 7px;
}

.sjitem, .categories, .conqitem, span.button {
	text-align: center;
	font-size: 0.9em;
	white-space: nowrap;
	border-radius: 8px;
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
	border: 3px solid #913030;
	border-right: 3px solid #913030;
	border-bottom: 3px solid #913030;
	background-color: #DDDDDD;
	cursor: pointer;
}



/* make conquests span a bit bigger */

.categories#conquests {
	font-size: 1.2em;
}

.greyedout {
	color: #888888;
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
}

.sjitem, .conqitem {
	padding: 5px;
}

.categories {
	padding: 8px;
	display: inline-block;
	margin-bottom: 5px;
}

.done {
	background-image: url('redcheck.png');
	background-size: auto 90%;
    background-repeat: no-repeat;
	background-position: center;
	border: 3px solid #913030;
	border-left: 3px solid #913030;
	border-bottom: 3px solid #913030;
	background-color: #AF5151;
}

.rewards {
	color: #faac53;
}

.empty {

}

.selected {
	border: 3px solid red;
}

.selectedalt {
	border: 3px solid #3FC2C2;
}

:not(.selected).sjitem:hover, :not(.selected).categories:hover, :not(.selected).conqitem:hover {
	border: 3px solid #8F613A;
	border-left: 3px solid #744620;
	border-bottom: 3px solid #744620;
}

:not(.selected).done:hover {
	border: 3px solid #913030;
	border-left: 3px solid #913030;
	border-bottom: 3px solid #913030;
}

.sjitem:hover, .categories:hover, .conqitem:hover {
	background-color: #FFFFFF;
}

.done:hover {
	background-color: #AF5151;
}

.rewards.complete {
	background-image: url('complete.png');
	background-size: auto 90%;
    background-repeat: no-repeat;
	background-position: center;
}

.rewards.current {
	background-image: url('current.png');
	background-size: auto 90%;
    background-repeat: no-repeat;
	background-position: center;
}

.completion {
	font-weight: bold;
}

.completion.complete {
	color: #EEEEEE;
}

.completion.current {
	color: #AAAAAA;
}

#bottomdiv {
	margin-top: 30px;
	margin-bottom: 30px;
}

input#shareinput {
	width: 15em;
}